# Copyright (C) 2024 Roberto Rossini <roberros@uio.no>
#
# SPDX-License-Identifier: MIT

# Ignore everything
**

# Allowed directories
!src/**/*.py
!test/**/*.py
!test/data/results_4DNFI9GMP2J8_v1.hdf5


# Allowed files
!LICENCE
!pyproject.toml
!README.md
